#html {
  font-family: "Lato", "Noto Sans JP", "游ゴシック Medium", "游ゴシック体",
    "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login button {
  border-radius: 20px;
}

#logout button {
  border-radius: 20px;
}

.uk-container {
  margin: 0;
}

.uk-card {
  border-radius: 20px;
  box-shadow: 1px;
  border: 10px;
  margin: 1px;
  /*
  border-color: darkslategrey;
  */
  border-color: red;
}

.uk-card-body {
  height: 50;
}

#sidenav {
  width: 260px;
}

.uk-align-left {
  margin: 0px;
  padding: 0px;
}

.uk-icon {
  padding-right: 7px;
}

#search form {
  border: 1px;
  border-radius: 20px;
  background-color: whitesmoke;
  width: 260px;
  margin-bottom: 15px;
}

#search input {
  font-size: 0.8rem;
}

#nav li {
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 15px;
}

#add_post {
  margin-top: 50px;
}

#footer {
  font-size: 20px;
  background-color: lightgray;
  width: 100%;
  text-align: left;
  padding: 10px;
}
